<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A modern UI for Resistector">
  <meta name="author" content="Dennis Hofirek">
  <title>Resistector UI</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='ResistectorUI.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        fetch('/sensor_data')
            .then(response => response.json())
            .then(data => {
                console.log("Empfangene Daten:", data);
            })
            .catch(error => console.error('Error fetching sensor data:', error));
    });
</script>
</head>
<body>
  <div class="container">
    <div class="sidebar" id="sidebar">
      <button id="toggle-btn" class="toggle-btn">&#11144;</button>
      <div class="sidebar-top">
        <h1>Resistector UI</h1>
        <img src="{{ url_for('static', filename='ResistectorUI.png') }}" alt="Resistector Logo" class="logo">
      </div>
      <div class="sidebar-mid">
        <div class="controls">
          <button>CONTROL 1</button>
          <button id="CalibrateButton"">Calibrate</button>
          <div class="toggle-container">
            <label class="switch">
                <input type="checkbox" id="toggle-details">
                <span class="slider round"></span>
            </label>
            <span class="toggle-label">Show Measurement Point Details</span>
        </div>        
        </div>
      </div>
      <hr class="spacer">
      <div class="sidebar-bottom">
        <i>Resistector UI</i> <br>
        <i>Masterthesis of Dennis Hofirek</i><br>
        <a href="mailto:dennis.hofirek@campus.lmu.de">dennis.hofirek@campus.lmu.de</a> <br>
        <i>LMU Munich</i><br>
        <i>Media Informatics</i>
      </div>
    </div>
    <div class="grid-container" id="grid-container">
      <!-- Circles will be inserted here by JavaScript -->
    </div>
  </div>
  <script>
    const cols = {{ cols }};
    const rows = {{ rows }};
  </script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <div id="calibrationModal" class="modal">
    <div class="modal-content">
      <h2 id="modalTitle">Calibration Status</h2>
      <p id="modalText">Calibration is running. Please wait</p>
      <button id="finishButton" class="finish-btn" style="display: none;">Finish Calibration</button>
    </div>
  </div>
</body>
</html>
